article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #2C2C2C;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-weight: ; */
  font-size: 1.8rem;
}

section {
  padding: 80px 0;
}

h1, h2, h3 {
  margin: 0;
}

h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #2C2C2C;
}

p {
  font-size: 1.5rem;
  margin: 0;
  margin: 30px 0px;
  line-height: 30px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.link-btn {
  font-size: 1.5rem;
  background-color: #30ccdd;
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link-btn:hover {
  background: #F6A823;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.56);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.56);
}

/* ----------------Nav Bar-------------------- */
nav {
  width: 100%;
  background: #F6A823;
}

.nav-link-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 15px;
}

.nav-link {
  padding: 2px;
  margin: 11px 10px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-link a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-link a:hover {
  color: #fff;
}

.nav-sophie-logo {
  font-family: "Lora", serif;
  font-size: 3rem;
  margin: 0 15px;
}

.mobile-nav {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

/* ----------------Header-------------------- */
.index-header {
  background: #F6A823;
  height: 80vh;
}

.header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-logo, .header-floated-image {
  width: 50%;
}

.header-logo {
  position: absolute;
  top: 150px;
  max-width: 490px;
}

.header-logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-logo-container h1 {
  position: absolute;
  top: 13px;
  left: 50px;
  font-size: 13rem;
  font-family: "Lora", serif;
}

.header-logo-container img {
  position: absolute;
  max-width: 140px;
}

.header-floated-image {
  position: absolute;
  max-width: 450px;
  top: 12px;
  right: 15px;
}

.header-floated-image img {
  -webkit-box-shadow: 15px 15px #fff;
          box-shadow: 15px 15px #fff;
}

@media (max-width: 1280px) {
  .header-logo-container {
    z-index: 5;
  }
  .header-logo-container h1 {
    top: 0;
    position: relative;
    font-size: 10.5rem;
  }
  .header-logo-container img {
    max-width: 105px;
    left: 20px;
    left: 17px;
  }
}

@media (max-width: 1120px) {
  .header-logo-container h1 {
    font-size: 8.75rem;
  }
  .header-logo-container img {
    top: -10px;
  }
  .header-floated-image {
    top: 80px;
  }
}

@media (max-width: 768px) {
  .index-header {
    min-height: 80vh;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-sophie-logo {
    margin: 0;
  }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-logo {
    top: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .header-logo-container h1 {
    top: 0;
    position: relative;
    font-size: 10rem;
  }
  .header-logo-container img {
    max-width: 105px;
    left: 20px;
  }
  .header-floated-image {
    position: relative;
    width: 100%;
    max-width: 100%;
    top: 55px;
  }
  .header-floated-image img {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .header-logo-container h1 {
    font-size: 5rem;
  }
  .header-logo-container img {
    max-width: 75px;
    top: -10px;
    left: 15px;
  }
}

/* ----------About Sophie Section--------------- */
.about-sophie-sect {
  background: #F0EFED;
}

.who-is-sophie-content {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0 200px 0 0;
}

@media (max-width: 768px) {
  .who-is-sophie-content {
    padding: 0;
  }
}

/* ----------Blog Section--------------- */
.blog-sect {
  padding: 0;
}

.blog-sect h2 {
  font-size: 2.2rem;
}

.blog-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.blog-sub-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-text {
  padding: 40px 0;
}

.blog-text-container1 {
  padding-left: 100px;
  margin-top: 60px;
}

.blog-text-container2 {
  padding-right: 100px;
  text-align: right;
}

.blog-image, .blog-text {
  width: 50%;
}

.blog-img-container {
  max-width: 600px;
}

.blog-image-1, .blog-image-2 {
  position: relative;
}

.blog-img-container-1 {
  position: absolute;
  top: -26px;
  right: 0;
  -webkit-box-shadow: 15px 15px 0px 0px #A82706, -105px 15px 0px 0px #A82706, -155px 15px 0px 0px #A82706, -185px 15px 0px 0px #A82706;
          box-shadow: 15px 15px 0px 0px #A82706, -105px 15px 0px 0px #A82706, -155px 15px 0px 0px #A82706, -185px 15px 0px 0px #A82706;
}

.blog-img-container-2 {
  position: absolute;
  bottom: -13px;
  left: 0px;
  -webkit-box-shadow: 15px 15px 0px 0px #F6A823, 105px 15px 0px 0px #F6A823, 155px 15px 0px 0px #F6A823, 185px 15px 0px 0px #F6A823;
          box-shadow: 15px 15px 0px 0px #F6A823, 105px 15px 0px 0px #F6A823, 155px 15px 0px 0px #F6A823, 185px 15px 0px 0px #F6A823;
}

.blog-link-btn {
  margin-bottom: 23px;
}

@media (max-width: 1120px) {
  .blog-container .blog-text-container1 {
    padding-left: 50px;
  }
  .blog-container .blog-text-container2 {
    padding-right: 50px;
  }
}

@media (max-width: 992px) {
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-container .blog-image, .blog-container .blog-text {
    width: 100%;
  }
  .blog-container .blog-img-container-1, .blog-container .blog-img-container-2 {
    position: relative;
  }
  .blog-container .blog-img-container-1 {
    left: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .blog-container .blog-text-container1 {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0;
  }
  .blog-container .blog-image-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .blog-container .blog-text-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 50px;
  }
  .blog-container .blog-text-container2 {
    padding-right: 0;
  }
}

/* ----------Links-Section------------- */
.info-links-sect {
  background: #F0EFED;
}

.info-links-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.info-links-content .info-links-quarter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-links-content .info-links-quarter .info-links-fab {
  padding: 10px;
  background: #F6A823;
  margin: 12px 10px auto 0px;
  border-radius: 50%;
}

.info-links-text {
  padding: 20px 38px 20px 0;
}

.info-links-text h3 {
  font-size: 2.2rem;
  padding-top: 0px;
}

.info-links-text p {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .info-links-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .info-links-content .info-links-quarter {
    width: 100%;
  }
  .info-links-content .info-links-quarter .info-links-text {
    padding-right: 0;
  }
}

/* --------Sophie's Journey Section--------- */
.journey-sect {
  background: #F0EFED;
}

.seats-background-image {
  background-image: url(../sophie-assets/home-image-4.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.journey-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journey-container .journey-text {
  width: 65%;
  padding-left: 25px;
}

.journey-container .journey-img-container {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey-container .journey-img-container img {
  width: 100%;
  max-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 15px 15px #F6A823;
          box-shadow: 15px 15px #F6A823;
}

@media (max-width: 768px) {
  .seats-background-image {
    height: 25vh;
  }
  .journey-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .journey-container .journey-text {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
  }
  .journey-container .journey-img-container {
    width: 50%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

/* --------Gallery--------- */
.gallery-sect {
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-img-container {
  width: 32%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .gallery-sect {
    padding: 15px 0;
  }
  .gallery-sect .wrapper {
    width: 100%;
  }
}

footer {
  background: #2C2C2C;
}

footer p {
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.blog-main {
  background: #F0EFED;
}

.blog-header {
  width: 100%;
  background-image: url(../sophie-assets/blog-image-1.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.blog-header h1 {
  position: absolute;
  bottom: -34px;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-size: 6rem;
}

/* ---------------BLOG-top half boxes------------------ */
.blog-section-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-left-section {
  width: calc(30% - 20px);
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.blog-recent-container {
  padding: 30px;
}

.blog-recent-container ul {
  font-size: 1.5rem;
  line-height: 2;
}

.blog-recent-container ul li {
  list-style-type: none;
}

.blog-recent-container ul li::before {
  content: "\2022";
  color: #F6A823;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-left: 25px;
}

.blog-about-container, .blog-recent-container, .blog-right-section, .blog-comment {
  background: #fff;
}

.blog-about-container {
  margin-bottom: 20px;
  padding: 30px;
}

.blog-sophie-img {
  max-width: 280px;
  margin: 0 auto;
}

.blog-right-section {
  width: 70%;
  margin: 0;
  padding: 0;
  background: #F0EFED;
}

.become-blogger-container {
  background: #fff;
  padding: 40px;
  border-bottom: 4px solid #F6A823;
}

.become-blogger-container h2 {
  font-size: 2.2rem;
  padding-top: 0px;
}

.become-blogger-container .blog-date-stamp {
  margin: 0px;
  padding: 10px 0px;
  font-style: italic;
}

.become-blogger-container span {
  color: #285e64;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}

.become-blogger-container p {
  margin-top: 0px;
}

.become-blogger-container p:last-of-type {
  margin-bottom: 0px;
}

.blog-comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.blog-comment-text {
  padding-left: 30px;
}

.blog-comment-text p {
  margin: 20px 0px 0px;
}

.blog-comment-bottom {
  border-bottom: 4px solid #F6A823;
}

/* delete this section */
.become-blogger-container, .blog-comment {
  margin-bottom: 40px;
}

.blog-comment-heading {
  color: #285e64;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: none;
  margin: 10px 0px;
}

.aside-heading {
  margin: 15px 0;
  font-size: 1.8rem;
}

.blog-about-text p {
  margin: 0px;
}

.blog-about-text p a {
  color: #285e64;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}

@media (max-width: 1050px) {
  .blog-section-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-section-wrapper .blog-left-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-section-wrapper .blog-left-section .blog-about-container {
    width: calc(50% - (25px / 2));
    margin-right: 25px;
  }
  .blog-section-wrapper .blog-left-section .blog-recent-container {
    width: calc(50% - (25px /2));
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .blog-section-wrapper .blog-left-section .blog-sophie-img {
    max-width: 100%;
  }
  .blog-section-wrapper .blog-right-section {
    width: 100%;
    margin-bottom: 50px;
  }
  .blog-section-wrapper .blog-right-section .form-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .blog-section-wrapper .blog-left-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-section-wrapper .blog-left-section .blog-about-container {
    width: 100%;
  }
  .blog-section-wrapper .blog-left-section .blog-recent-container {
    width: 100%;
  }
  .blog-comment {
    padding: 40px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-comment .blog-comment-img {
    width: 33.33%;
  }
  .blog-comment .blog-comment-text {
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .blog-main .wrapper {
    width: 90%;
  }
  .become-blogger-container {
    padding: 40px 20px;
  }
}

.contact-header {
  width: 100%;
  background-image: url(../sophie-assets/contact-image-1.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contact-header h1 {
  position: absolute;
  bottom: -34px;
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-size: 6rem;
}

.contact-main {
  background: #F0EFED;
  padding: 90px 0;
}

.getin-touch-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links-address-container {
  background: #fff;
  margin-right: 20px;
}

.fab-container a {
  font-size: 2.5rem;
  margin-right: 15px;
  color: #F6A823;
}

.fab-container a:last-of-type {
  margin-right: 0px;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-links a:first-of-type {
  font-weight: bold;
}

.contact-links p {
  margin: 0px 0px 10px;
}

.links-address-container {
  width: 30%;
  padding: 30px;
  margin-right: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form-container {
  width: 100%;
  background: #F0EFED;
}

.top-input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-input, .email-input {
  width: 50%;
  margin-right: 10px;
}

.name-input:last-child, .email-input:last-child {
  margin-right: 0px;
}

.top-inputs input {
  height: 50px;
  padding: 20px;
  font-style: italic;
}

input[type=text], input[type=email], textarea {
  padding: 0px;
  margin: 0px;
  border: none;
  margin-bottom: 16px;
  resize: none;
  width: 100%;
  padding-left: 20px;
}

textarea {
  width: 100%;
  padding-top: 20px;
  font-style: italic;
}

input[type=submit] {
  font-size: 1.5rem;
  background-color: #30ccdd;
  color: #2C2C2C;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

input[type=submit]:hover {
  background: #F6A823;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.56);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.56);
}

.hide-label:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1080px) {
  .links-address-container {
    width: 33.33%;
  }
  .form-container {
    width: 66.66%;
  }
}

@media (max-width: 768px) {
  .getin-touch-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .getin-touch-container .links-address-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .getin-touch-container .form-container {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .contact-header h1 {
    font-size: 3.5rem;
    bottom: -17px;
  }
  .top-input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-input-container .name-input, .top-input-container .email-input {
    width: 100%;
    margin-right: 0;
  }
}
